:root{
    --color-principal: #0B71D9;
    --color-secundario: #EFF2F6;
    --color-text-boton:#E5E5E5;
    --color-background-vacante:#f1f5f9;
}

body{
    margin:0;
}

.cabecera{
    background-color:var(--color-secundario);
    padding:10px 20px;
}

.buscar{
    display:flex;
    gap: 10px;
}

.boton{
    margin-left:1px;
    border:0;
    padding:0.2rem;
    border-radius:4px;
    min-height:24px;
    line-height:24px;
    border-radius:5px;
    min-width: 112px;
}

.buscar__seleccion{
    min-width:150px;
    border: 0;
    border-radius: 5px;
}

.boton, .vacante__boton{
    letter-spacing:.8px;
    text-align:center;
    cursor:pointer;
    background-color:var(--color-principal);
    font-weight:bold;
    color:var(--color-text-boton);
}

.vacante__boton{
    display: block;
    text-decoration: none;
    min-height: 25px;
    background-color: var(--color-principal);
    padding: .4rem;
    margin: 16px 0;
    line-height:25px;
    border-radius:4px;
}

.title, .contenedor-vacantes{
    margin:16px;
}

.vacante{
    padding: 10px 20px;
    overflow: hidden;
    max-height: 400px;
    margin: 20px 0;
    border-bottom:1px solid #3333;
    background-color:var(--color-background-vacante);
}
