:root{
    --color-principal: #0B71D9;
    --color-secundario: #EFF2F6;
    --color-text-boton:#E5E5E5;
    --margin-cabecera: 24px;
    --md-contenedores: 98%;
    --color-background-vacante:#f1f5f9;
}

body{
    margin:0;
}

.cabecera{
    background-color:var(--color-secundario);
    padding:.4rem 0;
    text-align:center;
}

.principal,.cabecera{
    width:var(--md-contenedores);
}

.cabecera__titulo,.cabecera,.principal{
    margin:0 auto 0  auto;
}

.cabecera__titulo,.cabecera__texto,.buscar{
    margin:var(--margin-cabecera);
}

.cabecera__texto{
    text-align:center;
    overflow:hidden;
}

.buscar{
    gap: 10px;
    display:flex;
    padding:.4rem .2rem;
}

.buscar__seleccion{
    border: 0;
    border-radius: 5px;
    width:50%;
}

.boton{
    margin-left:1px;
    flex-grow:1;
    border:0;
    padding:0.2rem;
    border-radius:4px;
    min-height:27px;
    line-height:27px;
    border-radius:5px;
}

.boton, .vacante__boton{
    letter-spacing:.8px;
    text-align:center;
    cursor:pointer;
    background-color:var(--color-principal);
    font-weight:bold;
    color:var(--color-text-boton);
}

.vacante__boton{
    display: block;
    text-decoration: none;
    min-height: 25px;
    background-color: var(--color-principal);
    padding: .4rem;
    margin: 16px 0;
    line-height:25px;
    border-radius:4px;
}

.title, .contenedor-vacantes{
    margin:16px;
}

.vacante{
    padding: 10px 20px;
    background-color:var(--color-background-vacante);
    margin:20px 0;
    padding-bottom:10px;
    border-bottom:1px solid #3333;
}
